<?xml version="1.0" encoding="utf-8" ?>
<!--
  ============================================================================
  БИБЛИОТЕЧНА СИСТЕМА - Конфигурационен файл
  ============================================================================
  
  Автор: Теосвета Красимирова Велкова
  Факултетен номер: F108355
  
  Този файл съдържа конфигурационни настройки за приложението.
  В случая указва целевата .NET Framework версия.
  ============================================================================
-->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
